/* SELETTORE {
  proprietà:valore;
  proprietà:valore;
}  */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.box {
  width: 50%;
  margin: auto;
}

.modelphoto {
  display: inline-block;
  height: 500px;
  width: 500px;
  /* background-color: coral;
  border: 5px solid #000; */
}

.modelphotoimg {
  width: 100%;
}



